
/*
    Overlays the background image of the title
*/
.title-overlay{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index:100;
}

.image-explanation{
    font-size: 24px;
}
